/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
h3{
    font-size: 90
}

body {
    margin: auto;
    text-align: center;
    max-width: 500px;
    font-family: 'Didact Gothic', sans-serif;
}

.activities-img{
    display: flex;
    justify-content: space-between;

}
.round-border{
    border: solid black 0px;
    border-radius: 30%;
    width: 120px;
    height: 80px;
    margin: 0 auto;
}
.hero{
    padding-top: 20px;
    background-image: url("https://scontent-vie1-1.xx.fbcdn.net/v/t1.6435-9/95404937_3550608344956028_1271691678352146432_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8631f5&_nc_ohc=oQp3yJYji0cAX8cjKqs&_nc_ht=scontent-vie1-1.xx&oh=00_AT_iga02N72WjykzINDgpPKZORtv-s9XvsOF4l_427vDqQ&oe=62DF7521");
    background-size: cover;
    height: 300px;
    font-size: 70%;
    color: #1D3557;
    text-shadow: 0 0 1px;
}
.activities{
    padding-top: 10px;
    background: #b7e4c7;
}
.activities-text{
    margin-top: 20px;
    font-size: 80%;

}
.guide{
    display: flex;
    direction: row;
    flex-flow: row-reverse;
    justify-content: center;
    margin: 30px 0px 30px 50px;
    background: linear-gradient(#b7e4c7, #457B9D);
    padding-top: 20px;
    width: 400px;
    border-bottom: 4px solid #1D3557;
}
.guide-text{
    width: 200px;
    font-size: 85%;
    
}
.guide-me {
width: 150px;
height: 150px;
margin-right: 20px;
box-shadow: 1px -1px 40px 10px #0ff
}
.activities-h4{
    font-size: 80%;
}
#activities-h3{
    font-size: 95%;
    margin-bottom: 25px;
}